table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.missions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 100vw;
    height: 90vh;
}

.missions-table {
    width: 90%;
    height: 100%;
}

.missions-table td {
    padding: 10px;
    text-align: center;
}

.missions-table th {
    padding: 10px;
    text-align: center;
}

.missions-table tr:nth-child(even) {
    background-color: #eee;
}

.missions-table tr:nth-child(odd) {
    background-color: #fff;
}

.missions-table th {
    background-color: #000;
    color: white;
}

