table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.missions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 100vw;
  height: 90vh;
  padding-top: 5%;
}

.missions-table {
  width: 90%;
  height: 100%;
}

.missions-table td {
  padding: 10px;
  text-align: center;
}

.missions-table th {
  padding: 10px;
  text-align: center;
  background-color: #000;
  color: white;
}

.missions-table tr:nth-child(even) {
  background-color: #eee;
}

.missions-table tr:nth-child(odd) {
  background-color: #fff;
}

/* NOT A MEMBER */
.membernactive {
  color: #fff;
  min-width: 150px;
}

.notmemberstyle {
  background-color: #616d71;
  border-radius: 5px;
  padding: 2px;
}

/* ACTIVE MEMBER */

.memberstyle {
  background-color: #3399fe;
  border-radius: 5px;
  padding: 2px;
}

/* BUTTONS NOT ACTIVE */

.btn-mission {
  background-color: transparent;
  padding: 5px 10px;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.btnactive {
  border: 1px solid #000;
  color: #000;
  margin: 12px;
}

.btinactive {
  border: 1px solid rgb(248, 63, 63);
  color: rgb(248, 63, 63);
  min-width: 150px;
}

.row-4 {
  min-width: 150px;
}
