.my-profile-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  padding-top: 50px;
  background-color: #f5f5f5;
}

.profile-list {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 30vw;
}

.profile-title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}