* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: white;
}

.navigation-bar {
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.5em;
  text-shadow:
    0 0 3px black,
    0 0 12px black,
    0 0 40px black;
}

.nav-logo-img {
  width: 50px;
  height: 50px;
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 25px;
  text-shadow:
    0 0 3px black,
    0 0 12px black,
    0 0 40px black;
}

.nav-ul a {
  transition-duration: 0.5s;
}

.nav-ul a:hover {
  color: blue;
}

.active-link {
  text-decoration: none;
}

.none {
  text-decoration: none;
}

.background-rocket {
  position: absolute;
  height: 1200px;
  right: 0;
  animation: rocket 2s;
}

.rockets-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 20px;
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.single-rocket-div {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
  background-image: linear-gradient(to right, transparent, rgb(0, 0, 0, 0.5), transparent);
  animation: animation 2s;
}

.single-rocket-image {
  width: 250px;
  height: 250px;
  clip-path: polygon(0 60%, 0 0, 60% 0, 100% 40%, 100% 100%, 40% 100%, 0 60%);
  border: 15px solid rgb(0, 0, 0, 0.2);
}

.single-rocket-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 600px;
  text-shadow: 0 0 3px white;
  font-size: 1.1em;
}

.single-rocket-texts h2 {
  filter: invert(100%);
  color: rgb(137, 53, 0);
  text-shadow:
    0 0 3px rgb(162, 62, 0),
    0 0 12px rgb(162, 62, 0),
    0 0 40px rgb(162, 62, 0);
}

.notActiveButton {
  padding: 10px;
  width: 150px;
  border: none;
  box-shadow:
    0 0 5px white,
    0 0 22px white;
  transition-duration: 0.5s;
  background-color: white;
}

.activeButton {
  background-color: yellow;
  padding: 10px;
  width: 150px;
  border: none;
}

.activeButton:hover,
.notActiveButton:hover {
  color: black;
}

.rockets-profile h2 {
  text-align: center;
  color: black;
}

@keyframes rocket {
  from {
    opacity: 0;
    transform: translate3d(60px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rockets {
  from {
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
